In [2]:
import findspark
findspark.init('/usr/local/spark')
import pyspark

In [19]:
from pyspark.sql import SparkSession
Spark = SparkSession.builder.appName("Spark DF example").getOrCreate()

In [22]:
customerDF = Spark.read.load("/home/hduser/Desktop/cust/customers.txt",format="csv",sep="\t",inferSchema="true",header="true")

In [23]:
customerDF.count()

1244

In [32]:
cnt = customerDF.distinct()

In [33]:
cnt.show()

+-----------+-----------------+-------------+--------------+----------------+
|customer_id|    customer_name|customer_city|customer_state|customer_zipcode|
+-----------+-----------------+-------------+--------------+----------------+
|       6336|   Richard Maddox|       Caguas|            PR|             725|
|       5222|   Evelyn Vincent|  Saint Louis|            MO|           63136|
|       4727|     Amanda Estes|     Honolulu|            HI|           96822|
|       3311|     Ryan Shelton|       Caguas|            PR|             725|
|        332|       Mary Smith|    Placentia|            CA|           92870|
|       3852|        Roy Potts|      Orlando|            FL|           32822|
|       5377|    Crystal Jones|   Middletown|            OH|           45044|
|       5915|    Mary Hamilton|Lawrenceville|            GA|           30043|
|       1518|    Jessica Smith|    Baltimore|            MD|           21229|
|       3627|       Mary Smith|       Caguas|            PR|             725|
|      11500|      Mary Martin|       Caguas|            PR|             725|
|       2197|     Joseph Smith|       Caguas|            PR|             725|
|       7551|Robert Richardson|      El Paso|            TX|           79907|
|      12431|        Mary Rios|      Kaneohe|            HI|           96744|
|        917|     Andrew Glenn|     Palatine|            IL|           60067|
|      10073|        Megan Lee|  West Orange|            NJ|            7052|
|       2638|       Mary Hardy|       Caguas|            PR|             725|
|       9359|     Nancy Campos|       Beloit|            WI|           53511|
|       5725|       Mary Smith|     Brooklyn|            NY|           11219|
|       1581|       Mary Smith|  Saint Louis|            MO|           63116|
+-----------+-----------------+-------------+--------------+----------------+
only showing top 20 rows

In [21]:
customerDF.select('customer_id','customer_name').show(5)

+-----------+--------------+
|customer_id| customer_name|
+-----------+--------------+
|      11039|   Mary Torres|
|       5623|    Jose Haley|
|       5829|    Mary Smith|
|       6336|Richard Maddox|
|       1708|Margaret Booth|
+-----------+--------------+
only showing top 5 rows

In [22]:
customerDF.select('customer_id','customer_name','customer_state').show(8)

+-----------+--------------+--------------+
|customer_id| customer_name|customer_state|
+-----------+--------------+--------------+
|      11039|   Mary Torres|            PR|
|       5623|    Jose Haley|            OH|
|       5829|    Mary Smith|            TX|
|       6336|Richard Maddox|            PR|
|       1708|Margaret Booth|            TX|
|      10227|Mary Henderson|            PR|
|        839|   Lisa Walker|            PR|
|       7604| Jonathan Hill|            AZ|
+-----------+--------------+--------------+
only showing top 8 rows

In [26]:
customerDF1.show(5)

+-----------+--------------+
|customer_id| customer_name|
+-----------+--------------+
|      11039|   Mary Torres|
|       5623|    Jose Haley|
|       5829|    Mary Smith|
|       6336|Richard Maddox|
|       1708|Margaret Booth|
+-----------+--------------+
only showing top 5 rows

In [27]:
customerDF.filter(customerDF['customer_state']=='TX').show()

+-----------+-----------------+--------------------+--------------+----------------+
|customer_id|    customer_name|       customer_city|customer_state|customer_zipcode|
+-----------+-----------------+--------------------+--------------+----------------+
|       5829|       Mary Smith|             Houston|            TX|           77015|
|       1708|   Margaret Booth|           Arlington|            TX|           76010|
|        371|     Adam Marquez|         San Antonio|            TX|           78223|
|       1209|        Mary Webb|          San Marcos|            TX|           78666|
|       8688|    Michelle Rose|          Eagle Pass|            TX|           78852|
|       9756|       Mary White|              Dallas|            TX|           75228|
|       6252|      Kevin Smith|          Carrollton|            TX|           75006|
|       8582|     Edward Smith|             Houston|            TX|           77088|
|       3135|       Helen Ward|             Houston|            TX|           77093|
|       5960|   Margaret Smith|          Round Rock|            TX|           78664|
|       1076|   Tyler Thompson|          Fort Worth|            TX|           76116|
|       2159| Kimberly Sweeney|North Richland Hills|            TX|           76180|
|       2420|       Mary Smith|             Weslaco|            TX|           78596|
|       1870|    Tiffany Greer|            Amarillo|            TX|           79109|
|       6075|       Mary Smith|              Austin|            TX|           78753|
|      11363|       Frank Paul|             Garland|            TX|           75040|
|       4539| Jacqueline James|             Houston|            TX|           77083|
|      10460|    Mary Morrison|       New Braunfels|            TX|           78130|
|       8498|Joseph Pennington|             Baytown|            TX|           77520|
|        979|       Mary Smith|              Austin|            TX|           78745|
+-----------+-----------------+--------------------+--------------+----------------+
only showing top 20 rows

In [29]:
custTX=customerDF.select('customer_id','customer_name','customer_state').filter(customerDF['customer_state']=='TX')

In [30]:
custTX.count()

62

In [27]:
customerDF.createOrReplaceTempView("customers")

In [28]:
Spark.sql('select * from customers').show()

+-----------+----------------+-------------+--------------+----------------+
|customer_id|   customer_name|customer_city|customer_state|customer_zipcode|
+-----------+----------------+-------------+--------------+----------------+
|      11039|     Mary Torres|       Caguas|            PR|             725|
|       5623|      Jose Haley|     Columbus|            OH|           43207|
|       5829|      Mary Smith|      Houston|            TX|           77015|
|       6336|  Richard Maddox|       Caguas|            PR|             725|
|       1708|  Margaret Booth|    Arlington|            TX|           76010|
|      10227|  Mary Henderson|       Caguas|            PR|             725|
|        839|     Lisa Walker|       Caguas|            PR|             725|
|       7604|   Jonathan Hill|      Phoenix|            AZ|           85040|
|       6485|Carolyn Sheppard|Pompano Beach|            FL|           33063|
|       4737|    Mary Mendoza|       Caguas|            PR|             725|
|       5973|   Michael Smith|       Caguas|            PR|             725|
|       9205|    James Holmes|     Hilliard|            OH|           43026|
|        138|     Mary Dawson|       Caguas|            PR|             725|
|        371|    Adam Marquez|  San Antonio|            TX|           78223|
|       9285|    Gloria Smith|       Caguas|            PR|             725|
|       1209|       Mary Webb|   San Marcos|            TX|           78666|
|       3021|  Nancy Alvarado|     Flushing|            NY|           11354|
|       3354|  Russell Flores|       Caguas|            PR|             725|
|      11684|    Denise Smith|    Rego Park|            NY|           11374|
|      11144|  Jose Dickerson|         Mesa|            AZ|           85201|
+-----------+----------------+-------------+--------------+----------------+
only showing top 20 rows

In [29]:
cStateCount50=Spark.sql("select customer_state, count(*) as state_count FROM customers GROUP BY customer_state HAVING state_count>=50")

In [30]:
cStateCount50.show()

+--------------+-----------+
|customer_state|state_count|
+--------------+-----------+
|            CA|        187|
|            NY|         79|
|            TX|         62|
|            PR|        505|
+--------------+-----------+

In [51]:
customerNewDF = Spark.read.load("/home/hduser/Desktop/cust/customers",format="csv",sep=",",inferSchema="true")

In [39]:
customerNewDF.show(5)

+---+-------+---------+---------+---------+--------------------+-----------+---+-----+
|_c0|    _c1|      _c2|      _c3|      _c4|                 _c5|        _c6|_c7|  _c8|
+---+-------+---------+---------+---------+--------------------+-----------+---+-----+
|  1|Richard|Hernandez|XXXXXXXXX|XXXXXXXXX|  6303 Heather Plaza|Brownsville| TX|78521|
|  2|   Mary|  Barrett|XXXXXXXXX|XXXXXXXXX|9526 Noble Embers...|  Littleton| CO|80126|
|  3|    Ann|    Smith|XXXXXXXXX|XXXXXXXXX|3422 Blue Pioneer...|     Caguas| PR|  725|
|  4|   Mary|    Jones|XXXXXXXXX|XXXXXXXXX|  8324 Little Common| San Marcos| CA|92069|
|  5| Robert|   Hudson|XXXXXXXXX|XXXXXXXXX|10 Crystal River ...|     Caguas| PR|  725|
+---+-------+---------+---------+---------+--------------------+-----------+---+-----+
only showing top 5 rows

In [33]:
type(print(customerNewDF))

DataFrame[1: int, Richard: string, Hernandez: string, XXXXXXXXX3: string, XXXXXXXXX4: string, 6303 Heather Plaza: string, Brownsville: string, TX: string, 78521: int]

NoneType

In [52]:
customerNewDF = customerNewDF.withColumnRenamed("_c0","customer_id")\
.withColumnRenamed("_c1","customer_fname")\
.withColumnRenamed("_c2","customer_lname")\
.withColumnRenamed("_c3","customer_email")\
.withColumnRenamed("_c4","customer_password")\
.withColumnRenamed("_c5","customer_street")\
.withColumnRenamed("_c6","customer_city")\
.withColumnRenamed("_c7","customer_state")\
.withColumnRenamed("_c8","customer_zipcode")\

In [43]:
customerNewDF.show(5)

+-----------+--------------+--------------+--------------+-----------------+--------------------+-------------+--------------+----------------+
|customer_id|customer_fname|customer_lname|customer_email|customer_password|     customer_street|customer_city|customer_state|customer_zipcode|
+-----------+--------------+--------------+--------------+-----------------+--------------------+-------------+--------------+----------------+
|          1|       Richard|     Hernandez|     XXXXXXXXX|        XXXXXXXXX|  6303 Heather Plaza|  Brownsville|            TX|           78521|
|          2|          Mary|       Barrett|     XXXXXXXXX|        XXXXXXXXX|9526 Noble Embers...|    Littleton|            CO|           80126|
|          3|           Ann|         Smith|     XXXXXXXXX|        XXXXXXXXX|3422 Blue Pioneer...|       Caguas|            PR|             725|
|          4|          Mary|         Jones|     XXXXXXXXX|        XXXXXXXXX|  8324 Little Common|   San Marcos|            CA|           92069|
|          5|        Robert|        Hudson|     XXXXXXXXX|        XXXXXXXXX|10 Crystal River ...|       Caguas|            PR|             725|
+-----------+--------------+--------------+--------------+-----------------+--------------------+-------------+--------------+----------------+
only showing top 5 rows

In [44]:
ordersNewDF = Spark.read.load("/home/hduser/Desktop/cust/orders",format="csv",sep=",",inferSchema="true")

In [45]:
ordersNewDF.show(5)

+---+-------------------+-----+---------------+
|_c0|                _c1|  _c2|            _c3|
+---+-------------------+-----+---------------+
|  1|2013-07-25 00:00:00|11599|         CLOSED|
|  2|2013-07-25 00:00:00|  256|PENDING_PAYMENT|
|  3|2013-07-25 00:00:00|12111|       COMPLETE|
|  4|2013-07-25 00:00:00| 8827|         CLOSED|
|  5|2013-07-25 00:00:00|11318|       COMPLETE|
+---+-------------------+-----+---------------+
only showing top 5 rows

In [49]:
ordersNewDF =ordersNewDF.withColumnRenamed("_c0","order_id")\
.withColumnRenamed("_c1","order_date")\
.withColumnRenamed("_c2","order_customer_id")\
.withColumnRenamed("_c3","order_status")\

In [50]:
ordersNewDF.show(5)

+--------+-------------------+-----------------+---------------+
|order_id|         order_date|order_customer_id|   order_status|
+--------+-------------------+-----------------+---------------+
|       1|2013-07-25 00:00:00|            11599|         CLOSED|
|       2|2013-07-25 00:00:00|              256|PENDING_PAYMENT|
|       3|2013-07-25 00:00:00|            12111|       COMPLETE|
|       4|2013-07-25 00:00:00|             8827|         CLOSED|
|       5|2013-07-25 00:00:00|            11318|       COMPLETE|
+--------+-------------------+-----------------+---------------+
only showing top 5 rows

In [57]:
customerNewDF.createOrReplaceTempView("customer")

In [59]:
ordersNewDF.createOrReplaceTempView("order")

In [64]:
result=Spark.sql("SELECT o.order_customer_id, c.customer_fname,c.customer_lname,count(1) cnt \
FROM order o JOIN customer c \
ON o.order_customer_id = c.customer_id \
where c.customer_fname like 'M%' \
GROUP BY o.order_customer_id , c.customer_fname , c.customer_lname \
HAVING count(1)>5 \
ORDER BY cnt DESC")

In [61]:
result.show()

+-----------------+--------------+--------------+---+
|order_customer_id|customer_fname|customer_lname|cnt|
+-----------------+--------------+--------------+---+
|            12431|          Mary|          Rios| 16|
|             5897|          Mary|       Griffin| 16|
|              569|          Mary|          Frye| 16|
|            12284|          Mary|         Smith| 15|
|             5624|          Mary|          Mata| 15|
|              221|          Mary|           Cox| 15|
|             1011|          Mary|         Smith| 14|
|              791|          Mary|         Smith| 14|
|             4249|          Mary|        Butler| 14|
|             4517|          Mary|         Cline| 14|
|             4116|          Mary|         Smith| 14|
|             6229|          Mary|         Smith| 13|
|             1826|       Matthew|         Smith| 13|
|             4930|          Mary|       Preston| 13|
|             5216|          Mary|         Pitts| 13|
|             7910|          Mary|       Camacho| 13|
|             8666|          Mary|         Smith| 13|
|             3763|          Mary|      Martinez| 13|
|             8015|          Mary|     Blackburn| 13|
|            11645|          Mary|          Ward| 13|
+-----------------+--------------+--------------+---+
only showing top 20 rows

In [130]:
CategoryDF = Spark.read.load("/home/hduser/Desktop/cust/categories",format="csv",sep=",",inferSchema="true")

In [131]:
CategoryDF =CategoryDF.withColumnRenamed("_c0","category_id")\
.withColumnRenamed("_c1","category_department_id")\
.withColumnRenamed("_c2","category_name")

In [132]:
ProductDF = Spark.read.load("/home/hduser/Desktop/cust/products",format="csv",sep=",",inferSchema="true")

In [133]:
ProductDF = ProductDF.withColumnRenamed("_c0","product_id")\
.withColumnRenamed("_c1","product_category_id")\
.withColumnRenamed("_c2","product_name")\
.withColumnRenamed("_c3","product_discription")\
.withColumnRenamed("_c4","product_price")\
.withColumnRenamed("_c5","product_image")\

In [134]:
ProductDF.createOrReplaceTempView("product")
CategoryDF.createOrReplaceTempView("category")

In [135]:
result11 = Spark.sql("SELECT product_category_id,category_name, \
round(Max(product_price),2) max_price, \
round(Min(product_price),2) min_price, \
round(Avg(product_price),2) avg_price \
FROM product p \
JOIN category c \
ON p.product_category_id =c.category_id \
GROUP BY product_category_id, category_name")

In [136]:
result11.show(5)

+-------------------+----------------+---------+---------+---------+
|product_category_id|   category_name|max_price|min_price|avg_price|
+-------------------+----------------+---------+---------+---------+
|                 41|        Trade-In|   399.99|     9.59|    74.06|
|                 30|Men's Golf Clubs|   139.99|     68.0|   114.07|
|                 32|    Golf Apparel|   999.99|    19.99|   289.57|
|                 58|     NFL Players|    241.0|     22.0|    81.17|
|                 26|  Girls' Apparel|     90.0|     18.0|    41.66|
+-------------------+----------------+---------+---------+---------+
only showing top 5 rows

In [138]:
from pyspark.sql.functions import mean,min,max,avg

In [139]:
result12 = ProductDF.join(CategoryDF,ProductDF.product_category_id == CategoryDF.category_id)

In [144]:
result13 = result12.select(max(result12.product_price).alias("max_product_price"))

In [146]:
result14 = result12.select(min(result12.product_price).alias("min_product_price"))

In [145]:
result13.show()

+-----------------+
|max_product_price|
+-----------------+
|          1999.99|
+-----------------+

In [147]:
result14.show()

+-----------------+
|min_product_price|
+-----------------+
|              0.0|
+-----------------+

In [148]:
result15 = result12.select(avg(result12.product_price).alias("avg_product_price"))

In [149]:
result15.show()

+-----------------+
|avg_product_price|
+-----------------+
|125.9152914458746|
+-----------------+

SyntaxError: unexpected character after line continuation character (<ipython-input-152-dbe5ce7c4bcd>, line 3)